
<md-toolbar class="toolbar-style">
  <span class="title-style">Soccer World</span>
  <md-toolbar-row>
    <!--<button type="button" (click)="toogleNav(sidenav) (click)="clicked($event)">Open</button>-->
    <div class="hamburger" (click)="toogleNav(sidenav, $event)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </md-toolbar-row>
</md-toolbar>

<!--<md-sidenav-container class="sidenav-layout">-->
  <!--<md-sidenav #sidenav class="sidenav" mode="side" opened="false">-->
    <!--<ul class="sidenav-font">-->
      <!--<li>Contact Us</li>-->
      <!--<li>About Us</li>-->
    <!--</ul>-->
  <!--</md-sidenav>-->
