

<!--<md-toolbar class="toolbar-style">-->
  <!--<span class="title-style">Soccer World</span>-->
  <!--<md-toolbar-row>-->
    <!--&lt;!&ndash;<button type="button" (click)="toogleNav(sidenav) (click)="clicked($event)">Open</button>&ndash;&gt;-->
    <!--<div class="container" (click)="toogleNav(sidenav, $event)">-->
      <!--<div class="bar1"></div>-->
      <!--<div class="bar2"></div>-->
      <!--<div class="bar3"></div>-->
    <!--</div>-->
  <!--</md-toolbar-row>-->
<!--</md-toolbar>-->

<!--<md-sidenav-container class="sidenav-layout">-->
  <!--<md-sidenav #sidenav class="sidenav" mode="side" opened="false">-->
    <!--<ul class="sidenav-font">-->
      <!--<li>Contact Us</li>-->
      <!--<li>About Us</li>-->
    <!--</ul>-->
  <!--</md-sidenav>-->



  <md-nav-list class="list-container">
    <md-list-item routerLink="/league-details" class="list-style" *ngFor="let league of leagues">
      <md-divider style="width: 100%">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3">
              <img mdListIcon src="../../assets/images/LaLiga.png">
            </div>
            <div class="col-md-6" style="text-align: center">
                <h2>{{league.name}}</h2>
                <p class="name-league"> {{league.nation}} </p>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </md-divider>
    </md-list-item>
  </md-nav-list>
<!--</md-sidenav-container>-->

