
  <mat-nav-list class="list-container">
    <mat-list-item  class="list-style" *ngFor="let league of leagues" (click)="goToLeagueDetails(league)">
      <mat-divider style="width: 100%">
        <div class="row">
          <div class="col-mat-12">
            <div class="col-mat-3">
              <img class="list-item-img" mdListIcon src="../../assets/images/LaLiga.png">
            </div>
            <div class="col-mat-6" style="text-align: center">
                <h2>{{league.name}}</h2>
                <p class="name-league"> {{league.nation}} </p>
            </div>
            <div class="col-mat-3"></div>
          </div>
        </div>
      </mat-divider>
    </mat-list-item>
  </mat-nav-list>


