
  <md-nav-list class="list-container">
    <md-list-item  class="list-style" *ngFor="let league of leagues" (click)="goToLeagueDetails(league)">
      <md-divider style="width: 100%">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3">
              <img mdListIcon src="../../assets/images/LaLiga.png">
            </div>
            <div class="col-md-6" style="text-align: center">
                <h2>{{league.name}}</h2>
                <p class="name-league"> {{league.nation}} </p>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </md-divider>
    </md-list-item>
  </md-nav-list>


