
<nav class="navbar navbar-default nav-style">
  <div class="container-fluid">
    <div class="navbar-header; text-style" *ngFor="let teamDetail of teamDetails">
      <h1><img src="{{teamDetail.flag}}" alt="Responsive image" class="img-circle; img_style">{{teamDetail.name}}</h1>
    </div>
  </div>
</nav>
<div>
  <mat-tab-group>
    <mat-tab label="Team Players">
      <ul *ngFor="let teamPlayer of teamPlayers">
        <li>{{teamPlayer.name}}</li>
      </ul>
    </mat-tab>
    <mat-tab label="Season Matches">
      <ul *ngFor="let teamMatch of teamMatches">
        <li>{{teamMatch.match_slug}}</li>
      </ul>
    </mat-tab>
    <mat-tab label="Team Manager">
    </mat-tab>
  </mat-tab-group>
</div>






