<div class="container">
  <h1 style="text-align: center"> {{details.name}} </h1>
  <div class="season-select">
    <mat-form-field>
      <mat-select placeholder="Seasons" [(ngModel)]="selectedSeason" (change)="getTopScorers(selectedSeason)">
        <mat-option *ngFor="let season of seasons" [value]="season.season_slug">{{ season.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-mat-12">
      <mat-tab-group>
        <mat-tab label="Top Scorers">
          <div class="table-responsive">
            <table class="table table-hover table-bordered ">
              <thead class="table-header">
              <tr>
                <th>Name</th>
                <th>Nationality</th>
                <th>Team</th>
                <th>Goals</th>
                <th>Penalties</th>
                <th>Matches</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let scorer of scorers">
                <td>{{scorer.fullname}}</td>
                <td>{{scorer.nationality}}</td>
                <td>{{scorer.team}}</td>
                <td>{{scorer.goals}}</td>
                <td>{{scorer.penalties}}</td>
                <td>{{scorer.matches}}</td>
              </tr>
              <tbody>
            </table>
          </div>


        </mat-tab>
        <mat-tab label="Team Standings">Content 2</mat-tab>
        <mat-tab label="Teams">Content 3</mat-tab>
        <mat-tab label="Season Rounds">Content 4</mat-tab>
        <mat-tab label="Managers">Content 5</mat-tab>
        <mat-tab label="Referees">Content 6</mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

